<mat-toolbar color="primary">
  <span><a routerLink="/">My DashBoard</a></span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
      <!--routerLinkActive will assign a new css class to that link once router is active and now u can use angular material class-->
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
      <!--routerLinkActive will assign a new css class to that link once router is active and now u can use angular material class-->
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">SignUp</a>
      <!--routerLinkActive will assign a new css class to that link once router is active and now u can use angular material class-->
    </li>
    <li>
      <button mat-button *ngIf="userIsAuthenticated" (click)="onLogout()" >Logout</button>
      <!--routerLinkActive will assign a new css class to that link once router is active and now u can use angular material class-->
    </li>
  </ul>
</mat-toolbar>
