<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="mypanel">
    <app-nav-panel></app-nav-panel></div>
<main>
  <router-outlet></router-outlet>
</main>
<!-- Notice header will always be on top of both component because its outside as seen in first line-->
<!-- We want either of view and not both based on angular router configuration and we need to provide a hook for angular router
where it can render the content and this hook is created with router-outlet directive-->
<!-- some comment-->
