<!----<input type="text"> Better use Text Area rather than Text -->
<!---<textarea name="" id="" cols="" rows="6">{{newPost}}</textarea> -we can use directly inside tag element but  Notice testarea is a html element and it has a attribute called
value but we cant use that as value="No content", it wont work. So we have another feature in angular which allows us to directly target properties
of native HTML elements. SO  if we use [value]="Text", this is not normal text now, it will look Text property of underlying component but if you want this a plain
text , you need to wrap this in single quote . Example [value]="'Text'" or you say simply [value]="newPost"-->

<!-- Notice rather than using local reference , we can use get rid of both from element and use angular binding.-->
<!---<textarea rows="6" [value]="newPost" #postInput></textarea>-->

<!-- Use ngmodel angular feature, but its not bydefault will work because its not in angular core, its in @angular/forms and no need to pass anything to onAddPost() Method -->

<mat-card>
  <!-- Notice postForm gives us access to Angular FOrm Object and we can pass this Object as arg. to onAddPost-->
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
      <mat-form-field>
        <!-- since we can submit empty post , so use HTML 5 validator like required or minlength etc. to validate angular form , but still we can submit fomr.
          solution is  we have to use form.invalid in Ts file
        also-->
          <input matInput type="text" name ="title" ngModel required placeholder="Post Title" #title="ngModel">
          <!-- Use local reference of title as #title="ngmodel"-->
          <mat-error *ngIf="title.invalid">Please Enter a Post Title</mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput rows="6" name="content" ngModel required placeholder="Post Content" #content="ngModel"></textarea>
          <mat-error *ngIf="content.invalid">Please Enter a Post Content</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" color="warn">Save Button</button>
  </form>

</mat-card>

<!-- Notice matInput is the selector which converts this test area into angular material input. By Adding MapInputModule as Import , you unlocked all input related
componets in your app. But you also need to add this or wrap this text area into <mat-form-field></>-->
  <!-- Whenever angular sees forms element and we have FormsModule, it will automatically create Js object behind the scene
  and we can get rid of two way data binding and we can use just ngmodel.so as a directive without any bindings, this will register this input as a control to this behind the
scenes form.
However angular needs to know how to name this input,
so we need to add the normal name attribute and give this any name of your choice, I'll name it title -->


