<caption>{{ settings.metadata.label }}</caption>
<table *ngIf="settings" class="table" id=$(settings.label)>

  <thead>
    <tr>
      <th>Action</th>
      <th *ngFor="let header of settings.headers;let k=index"> {{ header }} </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of settings.series;let i=index">
      <td (click)="deleteRow(i)">
        <button class='btn btn-danger btn-sm delete'>X</button>
      </td>
      <td contenteditable='true' *ngFor="let item of record | keyvalue: originalOrder">
        {{item.value}}
      </td>
    </tr>
    <tr>
      <td>
        <button style="margin-right: 5px" (click)="addRow()" class='btn btn-success btn-sm'>+</button>
        <button style="margin-right: 5px" (click)="push()" class='btn btn-dark btn-sm'>PUSH</button>
      </td>
    </tr>

  </tbody>

</table>
