<div class="container-fluid">
  <div class="row">
    <div class="navbar-text"><app-select [label]="'Enviorment'" [options]="hostenviorments"
        (onSelect)="onSelect($event)"></app-select>
    </div>
    <div class="navbar-text"><app-select [label]="'Template'" [options]="templateTypes"></app-select>
    </div>
    <!-- <button (click)="buildTemplate(PROJECTS)" class="btn  btn-primary btn-md" type="button">Build</button> -->
  </div>
  <div *ngFor="let resource of apiResources">
  <div class="row" >
    <div class="col-md-12" >
      <!--myNetworkSettings -->
      <app-table  [settings]="resource" (tableDataChange)="tablechanged(data)">

      </app-table>
      <button style="margin-right: 10px" (click)="buildTemplate(resource)" class="btn  btn-dark btn-sm" type="button">Build</button>
      <button style="margin-right: 10px" (click)="help(resource)" class="btn  btn-info btn-sm" type="button">Help</button>
      <button style="margin-right: 10px" (click)="clearData(resource)" class="btn  btn-warning btn-sm" type="button">Clear</button>
    </div>
  </div>
</div>
